/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
}